/* commons */

body{
    background-color: #023047;
}

img {
    max-width: 100%;
}

h1{
    font-size: 48px;
    font-weight: 800;
}

h5 {
    line-height: 0.5;
}

/* MAIN */

.card {
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 5px 1px #001824;
   
}

.icon_image {
   margin: 1rem 1.5rem;
}

.date, .post_like {
    color:#404040;
}


